## Ignore Code Composer Studio files as recommended here: 
## https://software-dl.ti.com/ccs/esd/documents/sdto_ccs_source-control.html

space_earrings/[Rr]elease/*
space_earrings/[Dd]ebug/*
.xdchelp
space_earrings/[Cc]onfig/*
space_earrings/.launches/*
*.idx
space_earrings/driverlib/*
